:root {
	--spacing: clamp(1rem, 3vw, 3rem);
	--flow-gap: var(--spacing);
	--stack-gap: var(--spacing);

	--background: var(--oui-stone-0);
	--background-absolute: white;

	--border: var(--oui-stone-2);

	--opacity: 0.05;

	--text-primary: var(--oui-stone-9);
	--text-secondary: var(--oui-stone-8);
	--text-subtle: var(--oui-stone-7);

	--blue: var(--oui-blue-7);
	--green: var(--oui-green-7);
	--purple: var(--oui-purple-7);

	@media (prefers-color-scheme: dark) {
		& {
			--background: var(--oui-slate-2);
			--background-absolute: var(--oui-slate-3);

			--border: var(--oui-slate-4);

			--opacity: 0.25;

			--text-primary: var(--oui-slate-8);
			--text-secondary: var(--oui-slate-7);
			--text-subtle: var(--oui-slate-6);

			--blue: var(--oui-blue-8);
			--green: var(--oui-green-8);
			--purple: var(--oui-purple-8);
		}
	}
}
