:root {
	--spacing: clamp(.5rem, 3vw, 2rem);
	--flow-gap: var(--spacing);
	--stack-gap: var(--spacing);

	--background: var(--oui-stone-0);
	--border: var(--oui-stone-3);

	--text: var(--oui-stone-8);
	--text-dark: var(--oui-stone-10);

	--anchor: var(--oui-blue-7);
	--anchor-hover: var(--oui-blue-6);
	--anchor-visited: var(--oui-purple-7);

	@media (prefers-color-scheme: dark) {
		--background: var(--oui-slate-0);
		--border: var(--oui-slate-2);

		--text: var(--oui-slate-6);
		--text-dark: var(--oui-slate-7);

		--anchor: var(--oui-blue-6);
		--anchor-hover: var(--oui-blue-7);
		--anchor-visited: var(--oui-purple-6);
	}
}
