body {
	color-scheme: light dark;
	display: flex;
	flex-flow: column nowrap;
	background-color: var(--background);
	color: var(--text);
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**/

a {
	outline: 2px solid transparent;
	outline-offset: .25em;
	border-radius: .25em;
	color: var(--anchor);
	transition: .125s ease-in-out;

	&:link {
		color: var(--anchor);
	}

	&:visited {
		color: var(--anchor-visited);
	}

	&:focus-visible {
		outline-color: color-mix(in oklab, var(--anchor), transparent);
	}

	@media (hover: hover) {
		&:hover {
			color: var(--anchor-hover);
		}
	}
}

b,
h1,
h2,
h3 {
	color: var(--text-dark);
}

h1 {
	font-size: 2rem;
	font-weight: normal;
}

h2 {
	font-size: 1.5rem;
	font-weight: normal;
}

h3 {
	font-size: 1.25rem;
}

hr {
	border-color: var(--border);
}

p {
	text-wrap: pretty;
}
