body {
	display: grid;
	grid-template-areas: "banner" "content" "footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	gap: 0;
	background-color: var(--background);
	color: var(--text-primary);
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (min-width: 40em) {
		& {
			grid-template-areas: ". banner content ." ". . content ." "footer footer footer footer";
			grid-template-columns:
				1fr 8rem minmax(20rem, calc(48rem + var(--spacing)))
				1fr;
			gap: var(--spacing);
		}
	}
}

/** */

a {
	--anchor-background: transparent;
	--anchor-color: var(--color-blue);
	--anchor-shadow: var(--color-blue-rgb);

	outline: 2px solid transparent;
	outline-offset: 0.5em;
	box-shadow: 0 0 0 0.5em var(--anchor-background),
		inset 0 0 0 100vw var(--anchor-background);
	border-radius: 1em;
	color: var(--anchor-color);
	transition: 0.125s ease-in-out;

	&:visited {
		--anchor-color: var(--color-purple);
		--anchor-shadow: var(--color-purple-rgb);
	}

	&:focus {
		--anchor-background: white;
		--anchor-color: var(--color-green);
		--anchor-shadow: var(--color-green-rgb);

		position: relative;
		z-index: 1;
	}

	&:focus-visible {
		outline-color: currentColor;
		text-decoration: none;
	}

	@media (hover: hover) {
		&:hover {
			--anchor-color: var(--color-green);
			--anchor-shadow: var(--color-green-rgb);
		}
	}

	&:active {
		--anchor-color: var(--text-secondary);
		--anchor-shadow: 0, 0, 0;
	}

	@media (prefers-color-scheme: dark) {
		& {
			text-shadow: 0 0 1em rgba(var(--anchor-shadow), 0.5);

			&:focus {
				--anchor-background: var(--background-absolute);
			}
		}
	}

	&[aria-current="page"] {
		font-style: italic;
		text-decoration: none;

		@media (hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

h1,
h2,
h3,
hr,
p {
	max-width: 40rem;
}

h1,
h2 {
	font-weight: normal;
}

h2,
h3 {
	color: var(--text-secondary);

	svg {
		stroke-width: 2;
	}
}

h2 {
	font-size: 1.25rem;
	font-style: italic;
}

h3 {
	font-size: 1.125rem;
}

hr {
	border-color: var(--border);
}

svg {
	stroke-width: 1;
}

/** */

.shadow {
	&-item {
		box-shadow: 0 0 0 1px rgba(0, 0, 0, var(--opacity)),
			0 1px 2px 0 rgba(0, 0, 0, var(--opacity)),
			0 2px 4px 0 rgba(0, 0, 0, var(--opacity)),
			0 4px 8px 0 rgba(0, 0, 0, var(--opacity)), 0 0 1rem 1rem var(--background);
	}

	&-overlay {
		box-shadow: 0 0 0 1px rgba(0, 0, 0, var(--opacity)),
			0 1px 2px 0 rgba(0, 0, 0, var(--opacity)),
			0 2px 4px 0 rgba(0, 0, 0, var(--opacity)),
			0 4px 8px 0 rgba(0, 0, 0, var(--opacity)),
			0 8px 16px 0 rgba(0, 0, 0, calc(0.5 * var(--opacity))),
			0 0 1rem 1rem var(--background);
	}
}
