@import '../../../node_modules/sanitize.css/system-ui';
@import '../../../node_modules/sanitize.css/ui-monospace';
@import '../../../node_modules/sanitize.css/sanitize';
@import '../../../node_modules/sanitize.css/typography';
@import '../../../node_modules/sanitize.css/assets';
@import '../../../node_modules/sanitize.css/forms';
@import '../../../node_modules/sanitize.css/reduce-motion';

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: sans-serif;
}

header,
main,
footer {
  margin: clamp(1rem, 10vw, 4rem);
}

header,
footer {
  color: grey;
  font-style: italic;
}

header {
  margin-bottom: 0;
  line-height: 1;
}

main {
  color: black;
  line-height: 1.5;
}

footer {
  margin-top: 0;
  line-height: 1.25;
}

h1,
h2 {
  font-size: 1em;
}

h1 {
  font-weight: bold;
}

header h1 {
  font-weight: normal;
}

p {
  margin: 1rem 0;
}

i {
  color: grey;
}
