{% assign description = pages.error.description %}
{% assign error = true %}
{% assign slug = 'error' %}
{% assign title = '404' %}
<!doctype html>
<html dir="ltr" lang="sv">
	{% include 'head' %}
	<body class="page__error">
		<main class="stack content" role="main">
			<article class="stack stack-text">
				<header>
					<h1>404 &ndash; {{ pages.error.description.sv }}</h1>
				</header>
				<p>Sidan du försöker besöka verkar inte finnas… vill du <a href="/">gå hem</a>, i stället?</p>
			</article>
			<hr>
			<article class="stack stack-text" lang="en">
				<header>
					<h2>404 &ndash; {{ pages.error.description.en }}</h2>
				</header>
				<p>
					The page you're trying to visit doesn't seem to exist… would you like to <a href="/en/">go home</a>, instead?
				</p>
			</article>
		</main>
	</body>
</html>
