{% assign slug = 'home' %}
{% layout 'page' %}
{% block content %}
	<header class="header">
		<h1 class="header__title page__home__intro">{{ pages.home.banner.intro.main | i18n }}
		<h2 class="header__description page__home__blurb">{{ pages.home.banner.blurb | i18n }}</h2>
	</header>
	<div class="stack stack-text">{{ pages.home.content | markdown }}</div>
{% endblock %}
