{% assign slug = 'home' %}
{% layout 'page' %}
{% block content %}
<div class="stack content__section">
  <header>
    <h1>{{ pages.home.intro | i18n }}</h1>
  </header>

  <div class="stack stack-text markdown">{{ pages.home.content | markdown }}</div>
</div>
{% endblock %}
