{% layout 'page' %}
{% block content %}
<header>
	<h1>{{ pages.home.intro.banner | i18n }}</h1>
	{% for item in pages.home.intro.content %}
		<p>{{ item | i18n }}</p>
	{% endfor %}
</header>
{% endblock %}
