.page__about {}

.selfie {
	width: 100%;
	max-width: 40rem;

	&__caption {
		padding: 0 0 0 1rem;
		font-size: .75rem;
	}

	&__figure {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 1rem;
	}

	&__image {
		width: 8rem;
		padding: 1px;
		background-color: var(--oui-absolute);
		border-radius: .5em;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, .0625), 0 1px 2px -.5px rgba(0, 0, 0, .0625), 0 2px 4px -1px rgba(0, 0, 0, .125), 0 4px 8px -2px rgba(0, 0, 0, .125);
	}

	@media screen and (min-width: 64rem) {
		width: 8rem;
		margin: 0 0 0 -54rem;
		position: absolute;

		&__figure {
			flex-flow: column nowrap;
			align-items: flex-start;
		}
	}
}
