.page__home {
	.content {
		align-items: center;
		justify-content: center;
	}

	&__intro,
	&__blurb {
		font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
		font-size: clamp(1.5rem, 4vw, 3rem);
		font-style: italic;
		font-weight: normal;
	}

	&__intro {
		letter-spacing: normal;
		text-transform: none;

		&__wave {
			padding: 0 0.5em 0 0;
		}
	}

	@media (min-width: 32em) or (min-width: 48em) {
		& {
			grid-template-areas: 'content' 'footer';
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;

			.banner {
				margin: 0;
				position: absolute;
				inset: var(--spacing) auto auto var(--spacing);

				&,
				&__items {
					flex-flow: row;
				}
			}

			.content {
				padding: calc((2 * var(--spacing)) + 3rem) var(--spacing) var(--spacing);
				margin: 0;
			}
		}
	}

	@media (min-width: 48em) {
		& {
				&__intro {
					&__wave {
						width: 2em;
						margin: 0 0 0 -2em;
						display: inline-block;
						text-align: right;
						position: relative;
					}
				}
		}
	}

	@media (min-width: 80em) {
		& {
			.banner {
				width: 8rem;

				&,
				&__items {
					flex-flow: column;
				}
			}

			.content {
				padding: var(--spacing) var(--spacing) 0;
			}
		}
	}

	@media (min-width: 80em) and (max-width: 92em) and (max-height: 74em) {
		& {
			&__intro {
				&__wave {
					width: auto;
					margin: 0;
					display: inline;
					text-align: inherit;
				}
			}
		}
	}
}
