.page__home {
	.content {
		align-items: center;
		justify-content: center;
	}

	&__intro,
	&__blurb {
		font-family: Charter;
		font-size: clamp(1.5rem, 4vw, 3rem);
		font-style: italic;
		font-weight: normal;
	}

	&__intro {
		letter-spacing: normal;
		text-transform: none;

		&__wave {
			padding: 0 .5em 0 0;
		}
	}

	@media (min-width: 48em) and (min-height: 32em) {
		& {
			grid-template-areas: 'content' 'footer';
			grid-template-columns: 1fr;
			grid-template-rows: 1fr auto;
			gap: 0;

			.banner {
				margin: 0;
				position: fixed;
				inset: var(--spacing) auto auto var(--spacing);
			}
		}
	}

	@media (min-width: 64em) {
		& {
			&__intro {
				&__wave {
					position: absolute;
					transform: translate3d(-100%, 0, 0);
				}
			}
		}
	}
}
