.page__projects {
	&__item {
		&__label {
			display: inline-flex;
		}

		&__anchor {
			padding: 0 0.5em 0 0;
		}
	}

	&__personal {
		&__suffix {
			align-self: flex-end;
			color: var(--text-secondary);
			font-style: italic;

			@media (min-width: 60em) {
				& {
					text-align: right;
				}
			}
		}
	}
}
