.page__projects {
	&__item {
		&__label {
			display: inline-flex;

			@media (min-width: 72em) {
				& {
					svg {
						margin: 0 0 0 calc(-1 * (var(--spacing) / 4));
						position: absolute;
						transform: translate3d(-100%, 0, 0);
					}
				}
			}
		}

		&__anchor {
			padding: 0 0.5em 0 0;
		}
	}

	&__personal {
		&__suffix {
			align-self: flex-end;
			color: var(--text-secondary);
			font-style: italic;

			@media (min-width: 64em) {
				& {
					text-align: right;
				}
			}
		}
	}
}
