<base href="/">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<title>{{ meta.author }}</title>
<meta name="author" content="{{ meta.author }}">
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ 'meta.description' | i18n }}{% endif %}">

<link rel="stylesheet" href="assets/stylesheets/styles.css" preload>