<!doctype html>
<html dir="ltr" lang="{{ page.url | locale }}">
	{% include 'head' %}
	<body class="page__{{ slug }}">
		{% include 'banner' %}

		<main class="fill stack flex-ai-c content" id="content">
			{% if title %}
				<header class="stack stack-text content__section">
					<h1>{{ title | i18n }}</h1>
					{% if description %}
						<p>{{ description | i18n }}</p>
					{% endif %}
				</header>
			{% endif %}

			{% block content %}{% endblock %}
		</main>

		{% include 'footer' %}
	</body>
</html>
