<!doctype html>
<html dir="ltr" lang="{{ page.url | locale }}">
{% include 'head' %}
<body>
{% include 'header' %}
<main class="page__{{ slug }}" id="content">
	{% if title %}
	<header>
		<h1>{{ title | i18n }}</h1>
		{% if description %}<p>{{ description | i18n }}</p>{% endif %}
	</header>
	{% endif %}
	{% block content %}{% endblock %}
</main>
{% include 'footer' %}
{% if slug == 'home' %}
<script src="/assets/javascript/fancy-stars.js"></script>{% endif %}
</body>
</html>
