<base href="/">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<title>{{ site.meta.author }}</title>
<meta name="author" content="{{ site.meta.author }}">
<meta name="description" content="{{ site.meta.description }}">

<link rel="stylesheet" href="assets/css/site.css" preload>