{% assign description = pages.about.index.description %}
{% assign slug = 'about' %}
{% assign title = pages.about.index.title %}
{% layout 'page' %}
{% block content %}
<ul class="stack">
	{% for link in pages.about.index.links %}
		<li class="stack stack-text">
			<h2>
				<a href="{{ link.url | i18n }}">{{ link.title | i18n }}</a>
			</h2>
			<p>{{ link.description | i18n }}</p>
		</li>
	{% endfor %}
</ul>
{% endblock %}
