.banner {
	grid-area: banner;
	padding: 1rem;
	justify-content: space-between;
	background-color: white;
	border-bottom: 1px solid var(--border);
	line-height: 1rem;
	position: relative;
	top: 0;
	z-index: 10;

	&,
	&__items {
		display: flex;
		flex-flow: row wrap;
		gap: 1rem;
	}

	@media (min-width: 24em) {
		& {
			position: sticky;
		}
	}

	@media (min-width: 40em) {
		& {
			margin: var(--spacing) 0 0;
			border-bottom-width: 0;
			border-radius: 0.25rem;
			font-size: 0.875rem;
			text-align: right;
			top: var(--spacing);
		}

		&,
		&__items {
			flex-flow: column;
		}
	}
}

.skipper {
	padding: 1em;
	background-color: white;
	outline: none;
	border: 2px solid var(--color-green);
	font-size: 1.5rem;
	line-height: 1;
	text-align: center;
	inset: var(--spacing) var(--spacing) auto;
	z-index: 100;

	@media (min-width: 40em) {
		& {
			inset: var(--spacing) auto auto var(--spacing);
		}
	}
}
