.banner {
	display: flex;
	flex-flow: column nowrap;

	&__content {
		width: 100%;
		max-width: 40rem;
		display: flex;
		flex-flow: column nowrap;
		gap: 0;
		border-bottom: 1px solid var(--border, black);
		font-size: .875rem;
	}

	&__home {
		margin: var(--spacing);
	}

	&__language {
		position: absolute;
		top: var(--spacing);
		right: var(--spacing);
		font-size: .75rem;
		font-style: italic;
	}

	&__navigation {
		padding: var(--spacing);
		border-top: 1px solid var(--border, black);
	}

	&__skip {
		padding: 1em;
		opacity: 0;
		background-color: var(--oui-absolute);
		border-radius: .5em;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, .0625), 0 1px 2px -.5px rgba(0, 0, 0, .0625), 0 2px 4px -1px rgba(0, 0, 0, .125), 0 4px 8px -2px rgba(0, 0, 0, .125);
		inset: 1rem auto auto 1rem;
		transition: none;

		&:focus {
			opacity: 1;
		}
	}

	@media screen and (min-width: 41rem) {
		&__content {
			gap: 1em;
		}

		&__home {
			margin: var(--spacing) 0 0;
		}

		&__navigation {
			padding: 0 0 var(--spacing);
			border-top: none;
		}
	}
}
