.content {
	grid-area: content;
	padding: var(--spacing);

	@media (min-width: 40em) {
		& {
			padding: 1rem 0 0;
			margin: var(--spacing) 0 0;
		}
	}
}

.header {
	max-width: 40rem;
	padding: 0 0 var(--spacing);
	display: flex;
	flex-flow: column;
	gap: calc(var(--spacing) / 2);
	border-bottom: 1px solid var(--border);

	&__title,
	&__description {
		line-height: 1.25;
	}

	&__title {
		color: var(--text-secondary);
		font-size: 0.75rem;
		font-weight: bold;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&__description {
		color: var(--text-subtle);
		font-size: 1.5rem;
		font-style: italic;
	}
}
