.content {
	padding: calc(2 * var(--spacing)) var(--spacing);

	&__section {
		width: 100%;
		max-width: 40rem;
	}
}

.list,
.markdown ul {
	padding: 0 0 0 1rem;
	display: flex;
	flex-flow: column nowrap;
	gap: .5em;
	list-style: none;

	h2,
	h3 {
		font-family: inherit;
		font-size: 1rem;
		font-style: normal;
		font-weight: bold;
		line-height: inherit;
	}

	li {
		position: relative;

		&::before {
			content: '-';
			width: 1rem;
			font-family: ui-monospace, monospace;
			position: absolute;
			left: -1rem;
		}
	}

	@media screen and (min-width: 42rem) {
		padding: 0;
	}
}

.markdown {
	hr {
		margin: var(--spacing) 0;
	}
}
