.content {
	grid-area: content;
	padding: var(--spacing);

	@media (min-width: 48em) {
		& {
			padding: 0;
			margin: var(--spacing) 0 0;
		}
	}
}

.header {
	max-width: 48rem;
	padding: 0 0 var(--spacing);
	display: flex;
	flex-flow: column;
	gap: calc(var(--spacing) / 2);
	border-bottom: 1px solid var(--border);

	&__title,
	&__description {
		font-weight: normal;
		line-height: 1.25;
	}

	&__title {
		color: var(--text-subtle);
		font-size: 0.75rem;
		font-weight: bold;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&__description {
		color: var(--text-secondary);
		font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
		font-size: clamp(1.25rem, 4vw, 2rem);
		// font-style: italic;
		letter-spacing: normal;
	}
}
