.footer {
	grid-area: footer;
	padding: 1rem;
	align-items: center;
	border-top: 1px solid var(--border);
	color: var(--text-secondary);
	font-size: 0.875rem;
	font-style: italic;

	& > * {
		width: 100%;
		max-width: 40rem;
	}
}
