.footer {
	grid-area: footer;
	padding: var(--spacing);
	align-items: center;
	border-top: 1px solid var(--border);
	color: var(--text-secondary);
	font-size: .75rem;
	font-style: italic;
	line-height: 1.125;

	& > * {
		width: 100%;
		max-width: 40rem;
	}
}
