.footer {
	&__content {
		width: 100%;
		max-width: 40rem;
		padding: var(--spacing);
		border-top: 1px solid var(--border, black);
		font-size: .875rem;

		@media screen and (min-width: 41rem) {
			padding: var(--spacing) 0;
		}
	}
}
